html, body {
    margin: 0px;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#signin > #center {
    width: 15em;
}

#signup > #center {
    width: 15em;
}

#new-thought {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#new-thought > #text {
    flex-grow: 1;
}

#new-thought > button {
    margin-top: 10px
}

#random-thought {
    text-align: justify;
    padding: 5%;
    font-size: 1.1rem;
    overflow: auto;
}
