html, body {
    margin: 0px;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#signin > #center {
    width: 15em;
}

#signup > #center {
    width: 15em;
}

#new-thought {
    height: 100%;
    display: flex;
}

#new-thought > #text {
    margin: 10px;
}

#random-thought {
    text-align: justify;
    padding: 5%;
    font-size: 1.1rem;
    overflow: auto;
}
